<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
</head>
<body>
    <h1>List of orders</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer ID</th>
                <th>Business ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Tax</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.customer_id %></td>
                    <td><%= order.business_id %></td>
                    <td><%= order.date %></td>
                    <td><%= order.total %></td>
                    <td><%= order.status %></td>
                    <td><%= order.tax %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
